.widget-product {
    width: 90%;
    display: flex;
    gap: 1vw;
    padding-bottom: 1vw;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    position: relative;
    text-align: center;
    /* scroll-behavior: smooth; */
}

.popular-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: #e68b0309;
}

.widget-product::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.widget-product::-webkit-scrollbar-thumb {
    background-color: #e68b0309;
    border-radius: 10px;

}

.widget-product::-webkit-scrollbar-track {
    background-color: #e68b0309;

}

.widget-product::-webkit-scrollbar-track:hover {
    background-color: #e68b0309;

}

.widget-product::-webkit-scrollbar-thumb:hover {
    background-color: #e68b0309;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e68b0309;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* position: -webkit-sticky;
    position: sticky;
    left: 0; */

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card-details h6 {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.card-details p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.card-details .rating-container {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.rating {
    display: flex;
    gap: 2px;
}

.rating .star {
    font-size: 16px;
    color: #ffc107;
}

.rating .star.empty {
    color: #ddd;
}

.rating .star.half {
    color: #ffc107;
}

.rating-value {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    font-size: 24px;
    text-align: left;
    width: 90%;
}

.middle-banners {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px;
}

.middle-banners img {
    height: 150px;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.middle-banners img:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}